.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #e9ecef;
}

.card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}

.message {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
}

.inputGroup {
  margin-bottom: 20px;
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #f8f9fa;
  outline: none;
  transition: border-color 0.3s;
}

.button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.footer {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.link {
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
}
